body{
    background-color: #df7401;
    color: #ffffff;
    font-weight: normal;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1{
    color: #ffcc00;
    text-decoration: underline;
    letter-spacing: 3mm;
    text-align: center;
}
h3{
    color: #ffcc00;
    letter-spacing: 3mm;
    text-align: center;
}
h5{
    color: #ffffff;
    text-align: left;
}

p{
text-align: justify;
}
p:nth-child(even){ /*odd*/
color: #ffcc00;
}

em{
    color: brown;
    font-weight: bold;
}
strong{
    color: brown;
    letter-spacing: 3mm;
    font-weight: bolder;
}

img{
    max-height: 200px;
}